/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */
:root {
    --primary: rgb(234,84,51);
    --secondary: rgb(254,249,247);
    --textcolor: rgb(99,85,81);
    --textwhite:#ffffff;
}
/* My Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input,button {
    box-shadow: none;
    outline: 0;
    border: 0;
}
/* General Styles */
html {
    font-size: 16px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 2rem;
}
/* Flex-classes */
.flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.align-item-center {
    align-items: center;
}
.flex-15 {
    flex: 0 1 15%;
}
.flex-5 {
    flex: 0 1 5%;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-30 {
    flex: 0 1 32%;
}
.flex-24 {
    flex: 0 1 24%;
}
.flex-40 {
    flex: 0 1 40%;
}
.flex-46 {
    flex: 0 1 46%;
}
.flex-48 {
    flex: 0 1 48%;
}
.flex-55 {
    flex: 0 1 55%;
}
.wrap {
    flex-wrap: wrap;
}
/* width */
.width-full {
    width: 100%;
}
/* Buttons */
.btn-primary {
    padding: 0.60rem 1rem;
    font-size: 0.80rem;
    background-color: rgb(236,112,72);
    color: var(--textwhite);
    border-radius: 1.6rem;
}
/* Heading */
.heading {
    font-size: 1.2rem;
    font-weight: 700;
}
/* Padding */
.padding {
    padding: 3rem 0;
}
/* Header */
.header {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255,255,255);
    z-index: 999;
}
.brand-a .brand {
    font-size: 2rem;
    font-weight: 700;
    color: var(--textcolor);
}
.nav-bar a{
    color: var(--textcolor);
    font-size: 0.90rem;
    font-weight: 600;
    margin-left: 2rem;
}
.nav-bar .active {
    color: var(--primary);
}
.nav-bar a:hover {
    color: var(--primary);
}
.header-select:hover {
    color: var(--primary);
}
.header-select {
    margin-left: 1rem;
    border: none;
    outline: none;
    background-color: var(--textwhite);
    font-weight: 600;
    font-family: 'Raleway' ,sans-serif;
    color: var(--textcolor);
    font-size: 0.90rem;
}
/* Hero */
.hero-section {
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.1)),
    url(./media/hero-bg.jpg);
    height: 75vh;
    background-size: cover;
    padding-top: 4rem;
}
.hero h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--textwhite);
    padding-top: 5rem;
}
.hero h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--textwhite);
    padding: 0.75rem 0 2rem 0;
}
.hero-circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--textwhite);
    z-index: 99;
}
.flex-all {
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-strd-btn  {
    bottom: 3rem;
    left: 3rem;
}
.btn {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background-color: rgb(88,75,72);
    color: var(--textwhite);
    border-radius: 1.2rem;
    font-size: 0.90rem;
    margin-left: -1.5rem;
}
.btn:hover {
    background-color: var(--primary);
}
/* Hero-Article */
.hero-article {
    margin-top: -100px;
    padding-bottom: 2rem;
}
.article-active {
    background-color: var(--primary);
    padding: 1.5rem;
    color: var(--textwhite);
    border-radius: 4px;
    line-height: 1.5;
}
.article-active h3 {
    margin-bottom: 1rem;
}
.article-active p {
    font-size: .80rem;
    margin: 2rem 0;
}
.aa {
    text-align: center;
}
.btn-primary:hover {
    background-color: var(--textwhite);
    color: var(--primary);
}

.article-small {
    line-height: 1.5;
    text-align: center;
    padding: 1.4rem;
    background-color: var(--textwhite);
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    
}
.article-small h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}
.article-small p {
    font-size: 0.8rem;
    text-align: left;
    margin: 1rem 0;
}
.article-small i {
    color: var(--primary);
    font-size: 2rem;
}
/* about-section */
.about-section {
    background-color: var(--secondary);
}
.about-video-logo {
    position: relative;
}
.about-circle-outer {
    position: absolute;
    top: 12rem;
    left: 13rem;    
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color:rgba(234,84,51,0.5);
}
.about-circle-inner {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--primary)
}
.about-circle-inner i {
    color: var(--textwhite);
    font-size: 1rem;
}

.about-article h6 {
    font-size: 14px;
    font-weight: 500;
    color: var(--textcolor);
}
.about-article h3 {
    color: var(--textcolor);
    padding: 1rem 0;
}
.about-article p {
    font-size: 0.85rem;
    color: var(--textcolor);
}
.about-small-article-circle {
    height: 3rem;
    width: 3.3rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
}
.about-small-article-circle i:hover , .about-small-article-circle:hover{
    background-color: var(--primary);
    color: var(--textwhite);
    
}
.about-small-article-circle i {
    font-size: 1.5rem;
    color: var(--primary);
}
.small-article {
    padding: 1rem 2rem;
}
.small-article h5 {
    font-size: 1rem;
    font-weight: 600;
}
.small-article p {
    font-size: 0.85rem;
    padding: 0.5rem 0;
}
/* Clients */
.clients {
    height: 20vh;
    background-color: white;
    overflow: auto;
}
/* Services */
.services-section {
    background-color: var(--secondary);
    text-align: center;
}
.heading-all {
    color: var(--textcolor);
    font-weight: 700;
    font-size: 1.5rem;
}
.services p {
    font-size: 0.84rem;
    font-weight: 500;
} 
.services-col{
    position: relative;
    margin-top: 2rem;
    width: 100%;
}
.col-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--textwhite);
    position: absolute;
    top: -1.3rem;
    left: 10rem;


}
.col-circle:hover{
    background-color: var(--textwhite);
    color: var(--primary);
}
.arti-col {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);   
    padding: 1rem;
}
.arti-col h4 {
    font-size: 1rem;
    padding: 0.7rem 0;
    font-weight: 700;
}
.arti-col p {
    font-size: 0.8rem;
    padding-bottom: 1.5rem;
}
/* <!-- Values --> */
.values-col {
    position: relative;
    margin-top: 1rem;
    line-height: 0;
}
.values-col img {
    border-radius: 6px;
}
.values-article {
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    width: 28rem;
    background-color: rgba(255,255,255,0.9);
    border-radius: 6px;
    padding: 0.75rem;
    line-height: 1.5;
}
.values-article:hover  {
    background-color: var(--primary);
    color: var(--textwhite);

}
.values-article:hover a {
    color: var(--textwhite);
}
.values-article h5 {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}
.values-article p {
    font-size: .80rem;
}
.values-article a {
    font-size: 00.60rem;
    color: var(--textcolor);
    font-weight: 600;
    text-transform: uppercase;
}
.values-article a i {
    margin-right: 0.40rem;
}
/* Testimonials */
.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(./media/testimonials-bg.jpg) no-repeat;
    background-size: cover;
    color: var(--textwhite);
    height: 60vh;
}
.testimonials img {
    border-radius: 50%;
    width: 5rem;
    border: 0.5rem solid rgb(255,255,255,0.2);
}
.testimonials h4 {
    font-size: 1.5rem;
    font-weight: 600;
}
.testimonials h6 {
    font-size: 0.80rem;
    font-weight: 600;
    color: rgb(190, 175, 175);
}
.testimonials q {
    font-size: 0.80rem;
    color: rgb(226, 208, 208);
    margin-bottom: 1rem;
}
.small-circle {
    text-align: center;
}
.test-circle .circle-1 {
    width: 0.60rem;
    height: 0.60rem;
    border-radius: 50%;
    margin-left: 0.25rem;
    background-color:rgb(226, 208, 208);
}
.test-circle .circle-1:hover{
    background-color: var(--primary);
}
.test-circle .active {
    background-color: var(--primary);
}
/* Portfolio */
.portfolio-main figure {
    margin-top: 1rem;
}
.portfolio-main figure img {
    border-radius: 6px;
}
.portfolio {
    text-align: center;
}
.portfolio p {
    font-size: 0.80rem;
    font-weight: 500;
    margin-top: 0.60rem;
}
.port-circle {
    display: flex;
    justify-content: center;
}
.port-circle .circle-port-1 {
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 1.2rem;
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--textcolor);
    margin-left: 0.75rem;
    margin-top: 1rem;
    border: solid 0.01rem var(--primary);
}
.port-circle .active {
    background-color: var(--primary);
    color: var(--textwhite);
}
.circle-port-1:hover {
    background-color: var(--primary);
    color: var(--textwhite);
}
/* Team */
.team-section {
    background-color: var(--secondary);
    text-align: center;
}
.team p {
    font-size: 0.80rem;
    font-weight: 500;
    margin-top: 1rem;
}
.team-members {
    margin-top: 2rem;
    line-height: 0;
}
.team-member {
}
.team-member img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.nameplate {
    width: 100%;
    line-height: 1.5;
    padding: 1rem 0;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.nameplate:hover {
    background-color: var(--primary);
    color: var(--textwhite);
}
.nameplate:hover h6 {
    color: var(--textwhite);
}
.nameplate h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
.nameplate h6 {
    font-size: 0.60rem;
    color: var(--textcolor);
    font-weight: 500;
}
/* Pricing */
.pricing {
    text-align: center;
}
.pricing p {
    font-size: 0.80rem;
    font-weight: 500;
    margin-top: 1rem;
}
.pricing-box1 {
    text-align: center;
    line-height: 2.5;
    font-size: 0.80rem;
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.pricing-box1  a{
    color: black;
}
.bottom-tag {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    background-color: rgb(248,248,248); 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-secondary {
    padding: 0.6rem 1.5rem;
    color: var(--textwhite);
    border-radius: 4px;
    background-color: var(--primary);
}
/* .btn-secondary:hover{
    color: var(--textcolor);
    background-color: var(--textwhite);
    border: 1px solid var(--primary);
} */
.bottom-tag a  {
    color: var(--textwhite);
}
.top-tag a {
    color: black;
}
.top-tag {
    background-color: rgb(248,248,248);
}
.top-tag-active {
    background-color: var(--primary);
}
.top-tag-active a {
    color: var(--textwhite);
}
.pricing-strong {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}
aside h4 {
    color: rgb(184, 169, 169);
}
.clr{
    color:  rgb(184, 169, 169);
    text-decoration: line-through;
}
/* FAQ */
.faq-form {
    text-align: center;
}
.faq-section {
    background-color: var(--secondary);
}
.faq-select  {
    padding: 1rem;
    width: 80%;
    color: black;
    border: 0;
    margin: 1rem 0;
}
.faq-select-a {
    color: var(--primary);
    padding: 1rem;
    width: 80%;
    border: 0;
    margin: 1rem 0;
}
.faq-select .faq-option {
    color: var(--textcolor);
}
/* Contact */
.contact-add {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-left: 2rem;
    text-align: center;
    padding: 1rem;
}
.contact p {
    margin-bottom: 2rem;
}
.contact-add i {
    color: var(--primary);
    font-weight: 900;
    font-size: 1rem;
}
.contact-add-circle:hover, .contact-add i:hover{
    background-color: var(--primary);
    color: var(--textwhite);
}
.contact-add h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-add address {
    font-size: 0.80rem;
    font-weight: 500;
}
.address-box {
    text-align: center;   
}
.contact-add-circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
}
.contact-form-details {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    width: 70%; 
    margin: 0 auto;
    padding: 2rem 4rem;
    margin-top: 1rem;
    text-align: center;
}
.input-area1 {
    width: 48%;
    border: 1px solid gray;
    padding: 0.40rem 2rem;
    margin: 0.5rem 0;
    font-family: 'Raleway' ,sans-serif;
    font-size: 0.80rem;
}
.input-area {
    border: 1px solid gray;
    font-family: 'Raleway' ,sans-serif;
    padding: 0.40rem 2rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 0.80rem;
}
.display-bolock {
    display: inline-block;
}
/* Footer */
.footer-section {
    background-color: var(--secondary);
}
.footer-address h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(49,48,48);
}
.footer-address address {
    font-size: 0.80rem;
    color: rgb(152,148,148);
}
.footer-links h6 , .footer-services h6 , .newsletter h3{
    font-size: 1rem;
    font-weight: 600;
}
.footer-links a , .footer-services a, .newsletter p {
    font-size: 0.80rem;
    color: rgb(152,148,148);
}
.newsletter-space {
    border: 1px solid var(--primary);
    display: flex;
    justify-content: right;
    border-radius: 1.4rem;
    margin-top: 2rem;
    background-color: var(--textwhite);
}
.newsletter-btn {
    background-color: var(--primary);
    padding: 0.3rem 1.4rem;
    border-radius: 1.2rem;
    color: var(--textwhite);
}
/* Footer */
.footer {
    padding: 1rem 0;
    position: relative;
}
.footer-nav a ,.copyright {
    font-size: 0.84rem;
    font-weight: 500;
    margin-left: 0.5rem;
    color: rgb(152,148,148);
}
.footer-nav a {
    color: var(--primary);
    font-weight: 800;
}
.colr-blk {
    color: black;
    font-weight: 800;
}
.colr-prim {
    color: var(--primary);
    font-weight: 800;
}
.direct-top-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    position: fixed;
}
.top-btn {
    padding: 0.40rem 0.60rem;
    background-color: var(--primary);
    color: var(--textwhite);
    font-size: 2rem;
    border-radius: 6px;
}

/* Blog Page */
.blog-hero-section {
    background-color: var(--secondary);
}
.blog-hero {
    padding-top: 4rem;
}
.blog-home {
    font-size: 0.80rem;
    font-weight: 600;
    color: var(--primary);
}
.blog-blog {
    font-size: 00.80rem;
    font-weight: 600;
    color: var(--textcolor);
    margin-left: 0.3rem;
}
.blog-head {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--textcolor);
}
/* Blog-Article */
.blog-article {
    padding: 1rem;
    line-height: 0;
}
.blog-article-inner {
    line-height: 1.5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}
.blog-article h3 {
    font-size: 1.2rem;
    font-weight: 700;

}
.blog-article small {
    font-size: 0.75rem;
    color: rgb(152,148,148);
    margin-right: 2rem;
    font-weight: 700;
    margin: 0.75rem 0;
}
.blog-article p {
    font-size: 0.85rem;
    margin: 0.75rem 0;
    font-weight: 500;
}
.blog-btn {
    font-size: 0.80rem;
    color: #ffffff;
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-left: 11.5rem;
}
.blog-btn:hover {
    background-color: white;
    color: var(--textcolor);
    border: 1px solid var(--primary);
}
.toggle-btn,.bars-nav {
    display: none;
}

/* Mobile Development */
@media screen and (max-width:600px) {
    html {
        font-size: 10px;
    }
    .flex-direction {
        flex-direction: column;
    }
    .flex-100 {
        flex: 0 1 100%;
    }
    .mb-justify-center {
        text-align: center;
        margin-top: 2rem;
    }
    .blog-article img {
        height: 15rem;
        object-fit: cover;
    }
    .nav-bar {
        display: none;
    }
    #toggle:checked ~ .nav-bar {
        display: inline-block;
    }
    .bars-nav {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--primary);
        display: inline-block;
    }
    .toggle-btn {
        display: none;
    }

}